@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:black; 
    color: white;
    height: 82px;
}
#home{
    font-family: Inter;
    font-size: 20px;
}
#company{
    font-family: Inter;
    font-size: 20px;
    
}
#Resources{
    font-family: Inter;
    font-size: 20px;
}
.button{
    width:180px;
    height:56px
}

.shak{
    width: 236px;
    height: 47px;
     margin-top: 10px;
}
.nav-link{
    font-family: sen; font-size: 20px;
    font-weight: 500; line-height: 32px; 
    color: white;
}
.mech{
    background-image: url(./media/images/AdobeStock_133891886\ 1.png);
    width: 100%;
    height:720px;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    font-family: Inter;
     font-size: 64px; 
     padding: 402px; 
     padding-left: 80px;
     font-weight: 700;
}
.two-lines{
    width:100%;
    margin-top: 50px;
}
.hist{
  
   margin-top: 50px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: justify;

}
  

.aziz-1{
    font-family: Sen;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -1px;
    color:purple
}
.president{
    font-family: Inter;
    font-size: 19.8px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}
.employ{
    
    margin-top: 50px;
     font-family: Inter;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 0px;
     text-align: justify;
}
.two-people{
    width:1300px
}
.plenty{
    margin-top: 50px;
     font-family: Inter;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 0px;
     text-align: justify;
}
.vision{
   
    margin-top:100px;
}
.supply{
    
    text-align: justify;
    font-family: Inter;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 0px;
}
.mission{
    
    margin-top:50px;
}
.aim{
    margin-top: -50px;
}
.fooot{
    background-color: #232536;
}
.cons{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
}

@media screen and  (max-width: 600px){
    .navbar{
        background-color:rgb(207, 49, 49); 
        color: white;
        height: 80px;
        width:100%;
        
    }
    /* #but{
    
        position: absolute;
        left:250px;
        color: rgb(182, 94, 44);
        width:50px;
    } */
    
     #home{
        font-family: Inter;
        font-size: 20px;
        width:100%;
    }
    .logo{
        width: 250px;
        margin-left:-50px;
        margin-top: 20px;

    }
    /* span{
        margin-top: 0px;
        margin-left: -20px;
        width: 100px;
    } */
    .mech{
        background-image: url(./media/images/AdobeStock_133891886\ 1.png);
        width: 100%;
        height:200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about{
        font-family: Inter;
         font-size: 32px; 
         padding: 100px; 
         padding-left: 20px;
         font-weight: 700;
    }
    .two-lines{
        width:100%;
        margin-top:-100px;
    }
    .hist{
  
        margin-top: 50px;
         font-family: Inter;
         font-size: 15px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: 0px;
         text-align: justify;
     
     }
     .aziz-1{
        font-family: Sen;
        font-size: 15px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -1px;
        color:purple;
        text-align: center;
    }
    .eclipse{
        margin-left: 100px;
    }
    .president{
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: justify;
    }
    .employ{
    
        margin-top: 50px;
         font-family: Inter;
         font-size: 15px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: 0px;
         text-align: justify;
    }
    .two-people{
        width:100%;
    }
    .plenty{
        margin-top: 50px;
         font-family: Inter;
         font-size: 15px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: 0px;
         text-align: justify;
    }
    .vision{
       
        margin-top:100px;
    }
    .supply{
        
        text-align: justify;
        font-family: Inter;
         font-size: 15px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: 0px;
    }
    .mission{
        
        margin-top:50px;
    }
    .aim{
        margin-top: -50px;
    }
    .con{
        margin-left: 50px;
        margin-top: 30px;
    }
    .con{
        margin-left: 30px;
        margin-top: 30px;
    }
 
}
